.banner2 {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --duration: 10s;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 285px;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, black 10%, black 90%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, black 10%, black 90%, rgba(0,0,0,0) 100%);
}

.slider {
  display: flex;
  animation: scroll var(--duration) linear infinite;
}

.imgitem {
  flex: 0 0 auto;
  margin: 0 10px; 
}

.imgitem img {
  height: 224px;
  width: auto; /* Ajustando a largura para manter a proporção */
  max-width: 100%; /* Garantindo que as imagens não ultrapassem a largura do container */
  border-radius: 15px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.wrapper:hover .slider {
  animation-play-state: paused;
}

.wrapper:hover .imgitem img:hover {
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Telas grandes (acima de 1200px) */
@media screen and (min-width: 1200px) {
  .imgitem img {
    height: 224px;
  }
}

/* Telas médias (768px até 1199px) */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .imgitem img {
    height: 180px; 
  }
}

/* Telas pequenas (abaixo de 768px) */
@media screen and (max-width: 767px) {
  .imgitem img {
    height: 150px; 
  }
}
